# Environnements virtuels
venv/
.venv/
env/
*.env

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Base de données locale
db.sqlite3

# Logs et médias
*.log
media/
staticfiles/

# Système
.DS_Store
Thumbs.db